@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.highlight {
  font-style: italic;
  font-weight: bold;
}

.center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}